<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>


</head>
<body>
<div th:fragment="header" class="header">
    <div class="navbar">
        <div class="navbar-container">
            <!-- Logo -->
            <a class="logo" href="/">
                <img th:src="@{/image/logo.png}" alt="Logo">
            </a>

            <!-- Menu -->
            <div class="menu">
                <a href="/">Trang Chủ</a>


                <div class="dropdown">
                    <button class="dropdown-btn">Thể Loại</button>
                    <div class="dropdown-content">
                        <div class="columns">
                            <div th:each="category : ${categories}">
                                <a th:href="@{/the-loai/{slug}(slug=${category.slug})}"
                                   th:text="${category.name}"></a>
                            </div>
                        </div>
                    </div>
                </div>


                <a href="#">Liên Hệ</a>
            </div>

            <!-- Search + Login -->
            <div style="display: flex; align-items: center;">
                <div  class="search-container">
                    <input type="text" class="search-input"  id="searchInput"
                           placeholder="🔍  Tìm kiếm truyện..." autocomplete="off">
                    <button class="search-btn"  onclick="performSearch()">Tìm</button>

                    <!-- Autocomplete Dropdown -->
                    <div class="autocomplete-dropdown" id="autocompleteDropdown">
                        <div class="autocomplete-header" id="autocompleteHeader">
                        </div>
                        <div id="autocompleteResults">
                            <!-- Results will be populated here -->
                        </div>
                    </div>
                </div>

                <button class="login-btn" >Đăng Nhập</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>