<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Kết quả tìm kiếm</title>
  <link rel="stylesheet" th:href="@{/css/homeStyle.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div th:replace="client/layout/header :: header"></div>

<h2 style="padding-top: 80px; margin-left: 170px ">Kết quả tìm kiếm cho: "<span th:text="${query}"></span>"</h2>


<div class="grid">
  <div class="card" th:each="comic : ${comics}">
    <a th:href="@{/{slug}(slug=${comic.slug})}"> <img  th:src="${comic.thumb_image}" alt="Truyện"></a>
    <div class="info">
      <h3 >
        <a th:href="@{/{slug}(slug=${comic.slug})}"  th:text="${comic.name}" > </a>
      </h3>
      <div class="meta">
        👁 <span>1000</span> | 👍 <span>500</span> <br>
        <!--                ⏰ <span th:text="${comic.chapter}"></span>-->
        <!--                <span th:text="${comic.createdAt}"></span>-->
      </div>
    </div>
  </div>
</div>

<div class="pagination" th:if="${totalPages > 0}">
  <a th:if="${currentPage > 0}"
     th:href="@{/(page=${currentPage - 1})}">«</a>

  <a th:each="i : ${#numbers.sequence(0, (totalPages - 1))}"
     th:href="@{/(page=${i})}"
     th:text="${i + 1}"
     th:classappend="${i == currentPage} ? 'active' : ''">
  </a>

  <a th:if="${currentPage < (totalPages - 1)}"
     th:href="@{/(page=${currentPage + 1})}">»</a>
</div>

</body>
</html>
